{% extends 'shortener/base.html' %}

{% block main_content %}
<div class="row">
    <div class="col s12 m7">
        <div class="card horizontal">
            <div class="card-image">
                <img src="http://pluspng.com/img-png/png-success--400.png">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p><strong>Good! A new link made!</strong></p>
                    <div class="card-action">
                        <p>Old link
                            <strong>
                                {{ object.url }}
                            </strong>
                        </p>
                    </div>
                    <div class="card-action">
                        <p>New link<strong>
                                {{ object.get_short_url }}
                            </strong>
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock main_content %}